################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/Power6rangers/.vs/Power6rangers
/ProjectPower6rangers/.vs/ProjectPower6rangers/FileContentIndex
/ProjectPower6rangers/.vs/ProjectPower6rangers/v17/Browse.VC.opendb
